
.icon-money:before { content: '\e800'; } /* '' */
.icon-truck:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-ccw:before { content: '\e803'; } /* '' */
.icon-down-open:before { content: '\e804'; } /* '' */
.icon-basket:before { content: '\e805'; } /* '' */
.icon-menu-outline:before { content: '\e806'; } /* '' */
.icon-angle-double-right:before { content: '\f101'; } /* '' */
.icon-shopping-bag:before { content: '\f290'; } /* '' */
.icon-handshake-o:before { content: '\f2b5'; } /* '' */
.icon-facebook:before { content: '\f300'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-instagram-filled:before { content: '\f31f'; } /* '' */
